@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<head>
    <title>Learning Diary</title>
    <link href="~/css/home.css" rel="stylesheet">
    <script src="~/js/Home.js" defer></script>
</head>
<body>
    <div class="header">
        <h1>Learning<span>Diary</span></h1>
        <div class="add">
            <button class="inpBtn" type="button">Get Started</button>
        </div>
        <div class="videodiv">
            <video autoplay muted loop id="learnVideo">
                <source src="~/Images/pexels-tima-miroshnichenko-5954843.mp4">
            </video>
        </div>
        
    </div>
    <div class="orange">
        <div class="info">
            <img src="~/Images/Charmander.png" class="container reveal fade-bottom"/>
            <div class="content">
                <h1>Follow your learning process!</h1>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
        </div>
    </div>
    <div class="green">
        <div class="info right">
            <img src="~/Images/Bulbasaur.png" class="container reveal fade-left"/>
            <div class="content">
                <h1>Search your on going studies!!</h1>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            </div>
        </div>
    </div>
    <div class="blue">
        <div class="info">
            <img src="~/Images/Squirtle1.png" class="container reveal fade-right"/>
            <div class="content">
                <h1>Get access for premium features with only 12.99$/month!</h1>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
        </div>
    </div>
    
</body>