/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

Provide sufficient contrast against white background 


a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

 Sticky footer styles


html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

 Sticky footer styles


html {
    position: relative;
    min-height: 100%;
}

body {
   Margin bottom by footer height 
 
}
    
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there 
}
    */

* {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}


.nav {
    background: linear-gradient(90deg, rgba(255,246,118,1) 0%, rgba(249,212,64,1) 100%);
    height: 90px;
    position: absolute;
    width: 100%;
    cursor: pointer;
    z-index: 2;
    top: 0;
}

.nav img{
    width: 125px;
    margin-left: 300px;
}

.nav li {
    margin-right: 40px;
}

.listItems {
    float: right;
    margin-right: 100px;
    display: flex;
    flex-direction: row;
    margin-right: 30px;
    font-size: 20px;
    line-height: 80px;
}

.nav a:hover {
    color: white;
    transition: color .2s ease-in-out, box-shadow .2s ease-in-out;
}

.nav ul h1 {
    float: left;
}

.navText {
    color: black;
    z-index: 20;
}

.textStyle {
    color: white;
    z-index: 30;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}